body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #042158, #2e5dae);
    color: white;
    font-family: 'Courier New', monospace;
}

#relogio {
    font: 200px;
    font-weight: bold;
    background: linear-gradient(90deg, #ffcc00, #ff3300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 20px rgba(255, 204, 0, 0.8);
    animation: brilho 1.5s infinite alternate;
}


@keyframes brilho {
    from {
        text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
    to {
        text-shadow: 0px 0px 30px rgb(235, 234, 230);
    }
}

.relogio {
    font-size: 50px;
    color: #0ff; /* Azul neon */
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}

@keyframes pulsar {
    0% { text-shadow: 0 0 10px #0ff; }
    50% { text-shadow: 0 0 20px #0ff; }
    100% { text-shadow: 0 0 10px #0ff; }
}

.relogio {
    font-size: 50px;
    color:  #0ff;
    animation: pulsar 1s infinite alternate;
}

@keyframes fundo-animado {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    background: linear-gradient(-45deg, #ff0000, #ff7300, #fffb00, #007bff, #3318ab, #053070);
    background-size: 400% 400%;
    animation: fundo animado 8s infinite alternate;
}

@keyframes flutuar {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.relogio {
    display: inline-block;
    font-size: 50px0;
    color: white;
    animation: flutuar 2s infinite ease-in-out;
}
